<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content="blog"/>
    <meta name="Description" content="blog"/>
    <title>Simple</title>
    <link rel="shortcut icon" href="/static/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>
	<div class="wrap-header">
		<a href="/" class="logo">
			<h1 id="title">
			</h1>
		</a>
		<div class="header">
			<ul id="pages">
			</ul>
		</div>
	</div>
<div class="main" id="main">
</div>
	<div class="footer">
		<p>© Copyright 2014 by isnowfy, Designed by isnowfy</p>
	</div>
<script src="main.js"></script>
<script id="homeSelectedTemplate" type="text/mustache">
    <li>
	 	<span class="selected">
	 		home
	 	</span>
    </li>
    <li>
        <a href="#/tags">tags</a>
    </li>
</script>
<script id="tagsSelectedTemplate" type="text/mustache">
	<li>
	 	<a href="/">home</a>
	</li>
    <li>
	    <span class="selected">
            tags
	 	</span>
    </li>
</script>
<script id="itemTemplate" type="text/mustache">
    {{#posts}}
    <div class="item">
        <div class="date">
            <div class="little">
            </div>
            {{date}}
        </div>
        <div class="title">
            <h2>
                <a href="{{path}}">{{title}}</a>
            </h2>
        </div>
    </div>
    {{/posts}}
    <div class="pages">
        Pages:
        {{#pages}}
            {{#select}}
            <span class="selected">{{num}}</span>
            {{/select}}
            {{^select}}
            <a href="{{path}}">{{num}}</a>
            {{/select}}
        {{/pages}}
    </div>
</script>
<script id="pagesTemplate" type="text/mustache">
    {{#pages}}
    <li>
        <a href="{{path}}">{{title}}</a>
    </li>
    {{/pages}}
</script>
<script id="tagsTemplate" type="text/mustache">
    <ul style="list-style: none">
        {{#tags}}
        <li style="display:inline; margin: 15px;">
            <a href="{{path}}" style="font-size: {{size}}%">{{name}}</a>
        </li>
        {{/tags}}
    </ul>
</script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "main.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            $("#title").html(data.name);
            var per = data.number_of_posts_per_page;
            var n = data.posts.length;
            var num = Math.floor((n-1)/per)+1;
            var arr = [];
            var tmp = [];
            for (var i = 0; i < n; ++i) {
                if (i != 0 && i % per == 0) {
                    arr.push(tmp)
                    tmp = [];
                }
                tmp.push(data.posts[i]);
            }
            if (tmp.length > 0)
                arr.push(tmp);
            var pages = [{"select": true, "num": 1, "path": "#/page/1"}];
            for (var i = 1; i < num; ++i)
                pages.push({"select": false, "num": i+1, "path": "#/page/"+(i+1)});
            var itemTemplate = Hogan.compile($("#itemTemplate").html());
            var itemHtml = itemTemplate.render({"posts": arr[0], "pages": pages});
            $("#main").html(itemHtml);
            var pagesTemplate = Hogan.compile($("#pagesTemplate").html());
            var pagesHtml = pagesTemplate.render({"pages": data.pages});
            var homeSelectedTemplate = Hogan.compile($("#homeSelectedTemplate").html());
            var homeSelectedHtml = homeSelectedTemplate.render();
            var tagsSelectedTemplate = Hogan.compile($("#tagsSelectedTemplate").html());
            var tagsSelectedHtml = tagsSelectedTemplate.render();
            $("#pages").html(homeSelectedHtml);
            $("#pages").append(pagesHtml);
            var App = Spine.Controller.sub({
                el: $("#main"),
                init: function() {
                    this.routes({
                        "/page/:page": function(page) {this.go(page);},
                        "/tags": function() {this.tags();}
                    });
                    Spine.Route.setup();
                },
                go: function(page) {
                    page = Math.floor(page.page);
                    for (var i = 0; i < pages.length; ++i)
                        pages[i].select = false;
                    pages[page-1].select = true;
                    itemHtml = itemTemplate.render({"posts": arr[page-1], "pages": pages});
                    $("#main").html(itemHtml);
                    $("#pages").html(homeSelectedHtml);
                    $("#pages").append(pagesHtml);
                },
                tags: function() {
                    var ts = {};
                    var posts = data.posts;
                    var tf = function() {
                        for (var i = 0; i < posts.length; ++i) {
                            var tmp = posts[i].tags.split(" ");
                            for (var j = 0; j < tmp.length; ++j) {
                                if (!(tmp[j] in ts))
                                    ts[tmp[j]] = 0;
                                ts[tmp[j]]++;
                            }
                        }
                    }
                    tf();
                    posts = data.pages;
                    tf();
                    var ans = [];
                    for (var k in ts) {
                        ans.push({"name": k, "size": 100+Math.sqrt(ts[k]-1)*30, "path": "#/tags/"+k});
                    }
                    var tagsTemplate = Hogan.compile($("#tagsTemplate").html());
                    var tagsHtml = tagsTemplate.render({"tags": ans});
                    $("#main").html(tagsHtml);
                    $("#pages").html(tagsSelectedHtml);
                    $("#pages").append(pagesHtml);
                }
            });
            new App();
        },
        error: function(e) {
            console.log("init error");
        }
    });    
});
</script>
</body>
</html>
