<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content="blog"/>
    <meta name="Description" content="blog"/>
    <title>Simple</title>
    <link rel="shortcut icon" href="/static/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
	<div class="wrap-header">
		<a href="/" class="logo">
			<h1 id="title">
			</h1>
		</a>
		<div class="header">
			<ul id="pages">
                <li><a href="/">home</a></li>
                <li><a href="/#/tags">tags</a></li>
			</ul>
		</div>
	</div>
<div class="main">
<div class="entry" id="main">
<!-- content -->
//content//
<!-- content end -->
</div>
</div>
	<div class="footer">
		<p>© Copyright 2014 by isnowfy, Designed by isnowfy</p>
	</div>
<script src="main.js"></script>
<script id="content" type="text/mustache">
    <h1>{{title}}</h1>
    <div class="tag">
    {{date}}
    {{#tags}}
    <a href="/#/tag/{{name}}">#{{name}}</a>
    {{/tags}}
    </div>
</script>
<script id="pagesTemplate" type="text/mustache">
    {{#pages}}
    {{#select}}
    <li>
        <span class="selected">{{title}}</span>
    </li>
    {{/select}}
    {{^select}}
    <li>
        <a href="{{path}}">{{title}}</a>
    </li>
    {{/select}}
    {{/pages}}
</script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "main.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            $("#title").html(data.name);
            var pages = [];
            //path
            var path = "//path//";
            //path end
            var now = 0;
            for (var i = 0; i < data.pages.length; ++i)
                if (path == data.pages[i].path) {
                    now = i;
                    pages.push({"select": true, "path": data.pages[i].path, "title": data.pages[i].title});
                }
                else {
                    pages.push({"select": false, "path": data.pages[i].path, "title": data.pages[i].title});
                }
            var pagesTemplate = Hogan.compile($("#pagesTemplate").html());
            var pagesHtml = pagesTemplate.render({"pages": pages});
            $("#pages").append(pagesHtml);
            var post = data.pages[now];
            var tmp = post.tags.split(" ");
            var tags = [];
            for (var i = 0; i < tmp.length; ++i)
                if (tmp[i].length > 0)
                    tags.push({"name": tmp[i]});
            var contentTemplate = Hogan.compile($("#content").html());
            var contentHtml = contentTemplate.render({"title": post.title, "tags": tags, "date": post.date});
            $("#main").prepend(contentHtml);
        }
    });
});
</script>
</body>
</html>
